<div class="projects">
  {% assign selected_projects = site.projects | sort: "importance" %}
  <div class="container">
    <div class="row row-cols-1">
      {% for project in selected_projects %}
        {% include projects.liquid %}
      {% endfor %}
    </div>
  </div>
</div>
